torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
python-magic==0.4.27
flask==3.0.3
dash==2.18.1
dash-bootstrap-components==1.6.0
pandas==2.2.3
flask-cors==5.0.0
python-dotenv==1.0.1
Flask-SQLAlchemy==3.1.1
sqlalchemy[asyncio]==2.0.36
asyncpg==0.29.0
psycopg2-binary==2.9.9
alembic==1.13.3
black==24.10.0
bcrypt==4.2.0
uvicorn==0.32.0
asgiref==3.8.1
requests[security]=2.32.3
